* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: system-ui, Arial, sans-serif;
  background-color: #aee0ff;
}

#app {
  min-height: 100vh;
  width: 100%;
}
h1,h2 {
  font-family: "Mochiy Pop One", sans-serif;
}